{% extends "shop/base.html" %}
{% load static %}
{% load humanize %}
{%block content%}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">shopping cart</h1>
            <p class="lead fw-normal text-white-50 mb-0">Everything you want to buy is here</p>
        </div>
    </div>
</header>
<br>

{%if cart_products%}
    {% for product in cart_products %}
    <div class = "container">
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="{{product.picture.url}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{product.description}}</p>
                    {%if product.is_sale%}
                        <p class="card-text">💵 Price : <strike>{{product.price | intcomma}}</strike>&nbsp;&nbsp;&nbsp;-> {{product.sale_price| intcomma}}</p>

                    {%else%}
                        <p class="card-text">💵 Price : {{product.price | intcomma}}</p>
                    {%endif%}
                    <select class="form-select" id="select{{product.id}}">
                        {% for key,value in quantities.items %}
                            {% if key == product.id|stringformat:"s" %}
                                <option value="{{ value }}" selected>{{ value }}</option>
                            {% endif %}
                        {% endfor %}
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>


                    <br>
                    <button type = 'button' data-index = {{product.id}} class= 'btn btn-primary update-cart'>Edit</button>
                    <button type = 'button' data-index = {{product.id}} class= 'btn btn-danger delete-product'>Delete item</button>
                    <a href = "{%url 'helloworld'%}" class = 'btn btn-secondary'>back to Home</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <h2>total price : {{total | intcomma}} toman </h2>
{%else%}
    <center><h3 class = 'container'>Your shopping cart is empty 😕</h3></center>
{%endif%}
<br><br><br><br><br>

<script>
    $(document).on('click', '.update-cart', function(e){
        e.preventDefault();
        var productid = $(this).data('index');
        $.ajax({
            type: 'POST',
            url: "{% url 'cart_update' %}",
            data: {
                product_id: productid,
                product_qty: $('#select'+productid+' option:selected').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                console.log("Updated:", json);
                location.reload(); 
            },
            error: function(xhr, errmsg, err){
                console.log("Error:", errmsg);
            }
        });
    });



    $(document).on('click', '.delete-product', function(e){
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: "{% url 'cart_delete' %}",
            data: {
                product_id: $(this).data('index'),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                console.log("Updated:", json);
                location.reload(); 
            },
            error: function(xhr, errmsg, err){
                console.log("Error:", errmsg);
            }
        });
    });
</script>


{%endblock  %}