{%extends 'shop/base.html'%}
{% load humanize %}



{% block content %}
<div class = "container">
    <div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
        <img src="{{product.picture.url}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{product.description}}</p>
                {%if product.is_sale%}
                    <p class="card-text">💵 Price : <strike>{{product.price | intcomma}}</strike>&nbsp;&nbsp;&nbsp;-> {{product.sale_price| intcomma}}</p>

                {%else%}
                    <p class="card-text">💵 Price : {{product.price | intcomma}}</p>
                {%endif%}
                counts:
                <select class="form-select" id = 'cart-qty'>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <br> <br>
                <button class= 'btn btn-secondary' type = 'button' value = '{{ product.id}}'  id = 'add-cart'> add to cart </button>

                <a href = "{%url 'helloworld'%}" class = 'btn btn-secondary'>back to Home</a>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<script>
    $(document).on('click', '#add-cart', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: "{% url 'cart_add' %}",
            data: {
                product_id: $('#add-cart').val(),
                product_qty : $('#cart-qty option:selected').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                console.log("Response:", json);
                alert("Added: " + json.product_name);
                document.getElementById('cart_quantity').textContent = json.qty
            },
            error: function(xhr, errmsg, err){
                console.log("Error:", errmsg);
            }
        });
    });
</script>

{%endblock  %}
