{%extends 'shop/base.html'%}
{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Sign up</h1>
                <p class="lead fw-normal text-white-50 mb-0">Start your Day</p>
            </div>
        </div>
    </header>


    <div class = 'row'>
        <center>
            <div class = col-7>
                <p align = 'justify'>
                    <form method = "POST" action = "{% url 'signup' %}">
                        {% csrf_token %} <!-- for security-->
                            {{form.as_p}}
                            <br><br>
                            {{ form.errors }}
                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </form>
                </p>
            </div>
        </center>
    </div>

{%endblock  %}
