{%extends 'shop/base.html'%}
{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">update info</h1>
                <p class="lead fw-normal text-white-50 mb-0">complete your info for buying</p>
            </div>
        </div>
    </header>


    <div class = 'row'>
        <center>
            <div class = col-7>
                <p align = 'justify'>
                    <br>
                    <strong>user info</strong>
                    <br>
                    <form method = "POST" action = "{% url 'update_info' %}">
                        {% csrf_token %} <!-- for security-->
                            {{form.as_p}}
                            <br><br>
                            <strong>Shipping information</strong>
                            <br><br>
                            {{shipping_form.as_p}}
                            {{ user.errors }}
                        <button type="submit" class="btn btn-primary">Edit info</button>
                    </form>
                    <br>
                </p>
            </div>
        </center>
    </div>
{%endblock  %}
