{% extends "shop/base.html" %}
{% load static %}
{% load humanize %}
{%block content%}

    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Final order confirmation</h1>
                <p class="lead fw-normal text-white-50 mb-0">Make sure</p>
            </div>
        </div>
    </header>
    <br>
    <div class = 'container'>
        <div class = 'row'>
            <center>
                <div class = col-7>
                    <div class="card">
                        <div class="card-header">
                            Order Summary
                        </div>
                        <div class="card-body">
                            {% for product in cart_products%}
                                {{product.name}}<br>

                                <small>
                                    price:
                                    {% if product.is_sale%}
                                        {{product.sale_price | intcomma}}
                                    {%else%}
                                        {{product.price | intcomma}}
                                    {%endif%}
                                </small>
                                <br>
                                <small>
                                    counts:
                                    {% for key,value in quantities.items %}
                                        {% if key == product.id|stringformat:"s" %}
                                            {{ value }}
                                        {% endif %}
                                {% endfor %}
                                </small><br>
                                <hr>

                            {% endfor %}

                            <strong>
                                total price : {{total | intcomma}}
                            </strong>
                            
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Shipping details
                        </div>
                        <div class="card-body">
                            full name : {{shipping_info.shipping_full_name}} <br>
                            E-mail: {{shipping_info.shipping_email}} <br>
                            Address 1 : {{shipping_info.shipping_address1}} <br>
                            Address 2 : {{shipping_info.shipping_address2}} <br>
                            city : {{shipping_info.shipping_city}} <br>
                            state : {{shipping_info.shipping_state}} <br>
                            zip-code: {{shipping_info.shipping_zipcode}} <br>
                            country: {{shipping_info.shipping_country}} <br>
                        </div>
                    </div>
                    
                </div>
                <br>
                <a href = "#" class ='btn btn-sm btn-outline-secondary'>Order and payment</a>
                <br> <br>
                <a href = "{% url 'checkout'%}" class = 'btn btn-sm btn-outline-secondary'>
                    back
                </a>


            </center>
        </div>
    </div>

<br><br><br><br><br>
{%endblock  %}